<section class="lections-section">
    <div class="container">
        <div class="lections-section__heading">
            <span class="lections-section__lvl">Экспертный уровень</span>
            <h2 class="lections-section__title title">Html/css</h2>
        </div>

        <div class="lections-section__controls">
            <a href="#" class="lections-section__btn btn btn--fill" title="Все лекции на курсе">Все лекции</a>
            <div class="lections-section__slider-nav slider-nav">
                <button class="btn-reset slider-nav__btn lections-section__prev">
                    <svg aria-hidden="true">
                        <use xlink:href="img/sprite.svg#slider-nav-btn-prev"></use>
                    </svg>
                </button>
                <button class="btn-reset slider-nav__btn lections-section__next">
                    <svg aria-hidden="true">
                        <use xlink:href="img/sprite.svg#slider-nav-btn-next"></use>
                    </svg>
                </button>
            </div>
        </div>

        <div class="lections-section__lection-items">
            <div class="lections-section__lection-item card">
                <div class="card__category">
                    Лекция
                </div>
                <div class="card__header">
                    <img src="./img/lections/lection-poster-image-1.png" alt="Lection's poster image"
                        class="card__poster-image">
                </div>
                <div class="card__body">
                    <h3 class="card__title">CSS: продвинутые селекторы</h3>
                    <p class="card__descr">Изучаем продвинутые селекторы в CSS</p>
                </div>
                <div class="card__footer">
                    <time class="card__lection-date" datetime="2022-02-20 20:00">20.02.2022</time>
                    <a href="#" class="card__btn btn btn--fill">Смотреть</a>
                </div>
            </div>

            <div class="lections-section__lection-item card">
                <div class="card__category">
                    Лекция
                </div>
                <div class="card__header">
                    <img src="./img/lections/lection-poster-image-2.png" alt="Lection's poster image"
                        class="card__poster-image">
                </div>
                <div class="card__body">
                    <h3 class="card__title">CSS анимации</h3>
                    <p class="card__descr">Знакомимся с CSS анимациями. Создаем продвинутые анимации</p>
                </div>
                <div class="card__footer">
                    <time class="card__lection-date" datetime="2022-02-22 20:00">22.02.2022</time>
                    <a href="#" class="card__btn btn btn--fill">Смотреть</a>
                </div>
            </div>

            <div class="lections-section__lection-item card">
                <div class="card__category">
                    Лекция
                </div>
                <div class="card__header">
                    <img src="./img/lections/lection-poster-image-3.png" alt="Lection's poster image"
                        class="card__poster-image">
                </div>
                <div class="card__body">
                    <h3 class="card__title">CSS трансформации</h3>
                    <p class="card__descr">Осваиваем 2D и 3D трансформации в CSS</p>
                </div>
                <div class="card__footer">
                    <time class="card__lection-date" datetime="2022-02-24 20:00">24.02.2022</time>
                    <a href="#" class="card__btn btn btn--fill">Смотреть</a>
                </div>
            </div>

            <div class="lections-section__lection-item card">
                <div class="card__category">
                    Лекция
                </div>
                <div class="card__header">
                    <img src="./img/lections/lection-poster-image-4.png" alt="Lection's poster image"
                        class="card__poster-image">
                </div>
                <div class="card__body">
                    <h3 class="card__title">CSS SVG</h3>
                    <p class="card__descr">Осваиваем SVG</p>
                </div>
                <div class="card__footer">
                    <time class="card__lection-date" datetime="2022-02-26 20:00">26.02.2022</time>
                    <a href="#" class="card__btn btn btn--fill">Смотреть</a>
                </div>
            </div>
        </div>
    </div>
</section>