<aside class="sidebar">
    <div class="sidebar__container">
        <div class="sidebar__header">
            <div class="sidebar__logo-wrapper">
                <div class="sidebar__logo logo">
                    <a href="/" class="logo__wrapper">
                        <img class="logo__image" src="./img/beeinterns-logo.svg" alt="Web-site Logo">
                    </a>
                </div>
            </div>
        </div>

        <div class="sidebar__body">
            <nav class="sidebar__nav navbar">
                <ul class="list-reset navbar__list">
                    <li class="navbar__item">
                        <span class="navbar__btn navigation-link navigation-link--nest-lvl-1">
                            Программа
                        </span>
                        <ul class="list-reset navbar__list-inner">
                            <li class="__item">
                                <a href="#" class="navbar__btn navigation-link">
                                    Менторы
                                </a>
                            </li>
                            <li class="__item">
                                <span class="navbar__btn navigation-link navigation-link--nest-lvl-1">
                                    Лекции
                                </span>
                                <ul class="list-reset navbar__list-inner">
                                    <li class="__item">
                                        <a href="#" class="navbar__btn navigation-link navigation-link--nest-lvl-2">
                                            <svg aria-hidden="true">
                                                <use xlink:href="img/sprite.svg#html-css"></use>
                                            </svg>
                                            HTML/CSS
                                        </a>
                                    </li>
                                    <li class="__item">
                                        <a href="#" class="navbar__btn navigation-link navigation-link--nest-lvl-2">
                                            <svg aria-hidden="true">
                                                <use xlink:href="img/sprite.svg#git"></use>
                                            </svg>
                                            GIT
                                        </a>
                                    </li>
                                    <li class="__item">
                                        <a href="#" class="navbar__btn navigation-link navigation-link--nest-lvl-2">
                                            <svg aria-hidden="true">
                                                <use xlink:href="img/sprite.svg#java-script"></use>
                                            </svg>
                                            JavaScript
                                        </a>
                                    </li>
                                    <li class="__item">
                                        <a href="#" class="navbar__btn navigation-link navigation-link--nest-lvl-2">
                                            <svg aria-hidden="true">
                                                <use xlink:href="img/sprite.svg#react"></use>
                                            </svg>
                                            React
                                        </a>
                                    </li>
                                    <li class="__item">
                                        <a href="#" class="navbar__btn navigation-link navigation-link--nest-lvl-2">
                                            <svg aria-hidden="true">
                                                <use xlink:href="img/sprite.svg#angular"></use>
                                            </svg>
                                            Angular
                                        </a>
                                    </li>
                                    <li class="__item">
                                        <a href="#" class="navbar__btn navigation-link navigation-link--nest-lvl-2">
                                            <svg aria-hidden="true">
                                                <use xlink:href="img/sprite.svg#data"></use>
                                            </svg>
                                            Data
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="navbar__item">
                        <a href="#" class="navbar__btn navigation-link">
                            Правила поступления
                        </a>
                    </li>
                    <li class="navbar__item">
                        <a href="#" class="navbar__btn navigation-link">
                            Новости
                        </a>
                    </li>
                    <li class="navbar__item">
                        <a href="#" class="navbar__btn navigation-link">
                            Обратная связь
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="sidebar__footer">
            <div class="footer__mail-switcher mail-switcher">
                <label for="mail-switcher" class="mail-switcher__label">
                    Получать рассылку
                    <input class="mail-switcher__input" type="checkbox" name="mail-switcher" id="mail-switcher">
                    <span class="mail-switcher__btn"></span>
                </label>
            </div>
        </div>
    </div>
</aside>